@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import "normalize";

* {
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
