.diary-table-container {
  &__title {
    border-radius: 15px 15px 0 0;
    height: 62px;
    background-color: #60738a;
    display: flex;
    align-items: center;
    width: 100%;

    span {
      padding: 0 40px;
      color: $white;
      font-size: 24px;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: normal;
    }
  }

  &__table {
    padding: 0 40px;
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
    border-collapse: collapse;

    thead {
      display: table;
      flex: 0 0 auto;
      width: 100%;
      table-layout: fixed;
      border-bottom: 1px solid #adadad;

      th {
        border: none;
        text-align: center;
        font-size: 18px;
        font-weight: 300;
        padding: 33px 20px 15px 20px;
      }
    }

    tbody {
      flex: 1 1 auto;
      display: block;
      overflow-y: scroll;

      tr {
        width: 100%;
        display: table;
        table-layout: fixed;
        font-weight: normal;
        font-size: 12px;
        height: 52px;
        background-color: rgba(96, 115, 138, 0.15);
      }

      tr:nth-child(even) {
        background-color: rgba(96, 115, 138, 0.02);
      }

      td {
        text-align: center;
        padding: 0 20px;
      }

      td:last-child {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@media screen and (max-width: 1016px) {
  .diary-table-container {
    &__title {
      justify-content: center;
      border-radius: 0;

      span {
        font-size: 16px;
      }
    }

    &__table {
      padding: 0;

      thead {
        th {
          font-size: 14px;
          padding: 10px 0;
        }
      }

      tbody {
        td {
          padding: 10px 0;
        }
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .diary-table-container {
    &__table {
      thead {
        th {
          font-size: 12px;
        }
      }
    }
  }
}
